{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}

<head>
    <style>
        input {
          border: 1px solid #114B5F;
          background-color: #114B5F;
          padding: 10px;
          font-size: 14px;
          margin-right: 90px
        }
        select {
          border: 1px solid #114B5F;
          background-color: #114B5F;
          padding: 40px;
          font-size: 14px;
          margin-right: 90px
        }

        input[type=submit] {
          background-color: #114B5F;
          color: #FFFFFF;
          cursor: pointer;
        }
    </style>
</head>

<body>

<table width="100%">
    <tr>
        <td>
            <img src="{{url_for('static', filename='photos/lunch_1.jpg')}}"  width="250" height="400"
                        style="border: 5px solid #114B5F; margin-right:60px">
        </td>
        <td valign="top">
            <br>
            <h2 style="font-family:georgia; font-size: 25px; color: #114B5F"><b>Сбалансированное питание</b></h2>
            <br>
            <p style="margin-right:20px; font-family:georgia; font-size: 18px;">
            В этом разделе Вы сможете подобрать комплекс из 3 блюд с учетом общего числа калорий и распределения
                белков, жиров и углеводов.<br></p>
            <p style="font-family:georgia; font-size: 18px; color: #114B5F"><br><b>Как это работает?</b><br></p>
            <p style="margin-right:20px; font-family:georgia; font-size: 18px">
                1) Выберите режим подбора питания;<br></p>
                <li style="margin-right:20px; font-family:georgia; font-size: 18px; margin-left:20px;">
                подсчет калорийности с помощью формулы Маффина – Джеора с учетом коэффициента
                    физической активности Харриса – Бенедикта;</li>
                <li style="margin-right:20px; font-family:georgia; font-size: 18px; margin-left:20px;">
                    самостоятельный ввод необходимого количества калорий</li>
            <br>
            <p style="margin-right:20px; font-family:georgia; font-size: 18px;">
                2) Введите требуемые данные; <br>
                3) Программа произведет все нужные подсчеты и подберет подходящее для вас питание.
            </p>
            <p style="color:#C71585; margin-right:20px; font-family:georgia; font-size: 18px;">
                Для подбора подходящих комбинаций потребуется некоторое время. Не перезагружайте страницу.</p>
            <br>
        </td>
        <td>
            <img src="{{url_for('static', filename='photos/lunch_2.jpg')}}"  width="250" height="400"
                        style="border: 5px solid #114B5F; margin-left:60px">
        </td>
    </tr>

</table>

<hr style="background-color: #114B5F; color: #114B5F; height: 2px">
<br>

<h2 style="font-family:georgia; font-size: 25px; color: #114B5F">Формула калорийности Маффина – Джеора</h2>
<p style="margin-right:20px; font-family:georgia; font-size: 18px">
    <b>Для женщин</b> – БМ (базовый метаболизм) = 9,99 × вес (кг) + 6,25 × рост (см) – 4,92 × возраст – 161
    <br>
    <b>Для мужчин</b> – БМ (базовый метаболизм) = 9,99 × вес (кг) + 6,25 × рост (см) – 4,92 × возраст + 5
</p>

<form action="/nutrition_result">
        <div class="form-group">
            <label for="question0" style="margin-right: 20px; font-family:georgia; font-size: 18px">
                Выберите Ваш пол:</label>
            <select class="form-control" name="sex" id="question0">
                <option>None</option>
                <option>Женский</option>
                <option>Мужской</option>
            </select>
        </div>

        <div class="form-group">
            <label for="question1" style="margin-right:20px; font-family:georgia; font-size: 18px">
                Сколько Вам лет?</label>
            <input type="text" class="form-control" name="age" id="question1" placeholder="0">
        </div>

        <div class="form-group">
            <label for="question2" style="margin-right:20px; font-family:georgia; font-size: 18px">
                Введите Ваш вес (в кг).</label>
            <input type="text" class="form-control" name="weight" id="question2" placeholder="0">
        </div>

        <div class="form-group">
            <label for="question3" style="margin-right:20px; font-family:georgia; font-size: 18px">
                Введите Ваш рост (в см).</label>
            <input type="text" class="form-control" name="height" id="question3" placeholder="0">
        </div>

        <div class="form-group">
            <label for="question4" style="margin-right: 20px; font-family:georgia; font-size: 18px">
                Выберите тип своей физической активности:</label>
            <select class="form-control" name="style" id="question4">
                <option>None</option>
                <option>Минимальная активность/сидячий образ жизни</option>
                <option>Легкая нагрузка 1–3 раза в неделю</option>
                <option>Тренировки 3–5 раз в неделю</option>
                <option>Тренировки ежедневно</option>
                <option>Тяжелая физическая работа/тренировки 2 раза в день</option>
            </select>
        </div>

        <br>
        <hr style="background-color: #114B5F; color: #114B5F; height: 2px">
        <br>
        <h2 style="font-family:georgia; font-size: 25px; color: #114B5F">Подбор рецепта по заданному количеству калорий</h2>
        <div class="form-group">
                <label for="question_a" style="margin-right:20px; font-family:georgia; font-size: 18px">
                    Введите желаемое количество калорий, потребляемое за день.</label>
                <input type="text" class="form-control" name="cal" id="question_a" placeholder="0">
                <br>
                <input type="submit">

        </div>
</form>


</body>
{% endblock %}